<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
【スポンサードリンク】
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- トレンド（自分） -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8825753116278286"
     data-ad-slot="6386040456"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
   <h1><p>{{ message }}</p></h1>
 <!-- 画像読み込みを追加 -->
    <img src="http://www.magazinelife.jp/data/ruharinobk/product/91b029e3bd.jpg" width="150" height="200" border="0" hspace="5" align="left"/></h1>

<blockquote><p>{{ mokuji|safe }}</p></blockquote>
<br>
<br>
<hr>
↓↓↓↓↓記事はコチラから！↓↓↓↓↓
<a href="http://pinky-media.jp/I0006485"><h3>{{ message }}</h3></a>
</body>
</html>
